# VeriChain Environment Configuration

# Blockchain Network RPC
NEXT_PUBLIC_RPC_URL="https://rpc-amoy.polygon.technology"
NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_CHAIN_NAME="Polygon Amoy Testnet"

# Deployed Smart Contract Address
NEXT_PUBLIC_CONTRACT_ADDRESS="0x71C7656EC7ab88b098defB751B7401B5f6d8976F"

# JWT Secret for Session Auth
JWT_SECRET="verichain_hackathon_super_secret_jwt_key_2027_production"

# Private key for automated contract anchoring (Demo fallback / backend deployer)
PRIVATE_KEY="0x0000000000000000000000000000000000000000000000000000000000000001"
